body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    width: auto;
}

.nav-container {
    position: relative;
    color: whitesmoke;
    background-image: url(./img/hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    }

.top-bar {
    padding-top: 60px ;
    background-color: rgba(0, 0, 128, 0.541);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
       width: 100%;
    }
.top-bar-list-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.top-right-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar-list {
    display: flex;
    gap: 50px;
    height: 30px;
}

li:hover {
    color: #ffff00;
    font-weight: 500;
}

.search-bar {
    background-color: rgba(0, 0, 128, 0.541);
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 48px;
    height: 48px;
    border-style: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    }

li, button, .product-card, .product-card-recent, .search-icon,svg { cursor: pointer; }
    
.search-xl {
    
    width: 500px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    height: 48px;
}

.bottom-bar {
    background-color: rgba(0, 0, 128, 0.541);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.left-bar {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


.header-txt {
font-size: 60px;
font-weight: bolder;
width: 600px;
text-transform: uppercase;
height:60px;
line-height: 90%;
}

.right-bar {
    text-align: center;
    width: 500px;
   
}

.yellow-txt {
    color: yellow;
    margin-right: 10px;
}



button {
    text-transform: capitalize;
    padding: 18 24;
    margin-right: 12px;
    border-radius: 10px;
    border-style: none;
}

.yellow-bttn {
    background-color: yellow;
    font-weight: 700;
    border: solid yellow;
}

.yellow-scnd-bttn {
    color: white;
border: solid yellow;
    background-color: unset;
    font-weight: 700;
}

.yellow-bttn:hover, .yellow-scnd-bttn:hover, .search-icon:hover {
    background-color: rgb(202, 202, 29);
    border-color: rgb(202, 202, 29);
}

.right-header-txt {
    font-size: large;
    font-weight: 700;
}

.header-mw {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 700px;
}
.product-header, .product-location {
margin-top: 10px;
margin-bottom: 5px;
}
.product-card {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: solid rgba(240, 240, 86, 0.418);
    border-radius: 20px;
    padding-bottom: 15px;

}

.product-txt {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    
}

.product-details {
    display: flex;
    justify-content: space-around;
}

.icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.corcheta {
    color: rgb(214, 214, 24);
    font-weight: 800;
}

.see-all {
    font-size: medium;
    font-weight: 600;
}

.header-txt-mw {
    font-weight: 750;
}

.product-txt-bottom {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 630;

}

.location {
    font-weight: 630;

}

.product-card-recent {

    display: flex;
    flex-direction: column;
    width: 18%;
    border: solid rgba(63, 63, 62, 0.116);
    border-radius: 20px;
    padding-bottom: 15px;

}

.header-rcntwatched {
    display:  flex;
    justify-content: space-around;
    gap: 600px;
}

.product-card-recent:hover, .product-card:hover {
    border: solid yellow;
}

.Publish {
    padding: 12 28;
}

.search-footer {
    width: 250px;
    border-style: none;
}

.footer-right {
    display: flex;
   align-items: center;
   flex-direction: column;
}

.footer-left {
    display: flex;
   align-items: center;
   flex-direction: column;
}

.social-media {
    display: flex;
    gap: 5px;
}
.footer-top {
    display:  flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
}

.footer-list {
    color: yellow;
    font-weight: 700;
}

li {
    list-style: none;
    margin-bottom: 15px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-details {
    width: 20%;
}
ul {
       padding-inline-start: 0px;
}

.footer-bttn {
    border-style: none;
}

.icon-ft {
    height: 48px;
    width: 48px;
    border-radius: 50px;
    background-color: yellow;
}

footer {
    padding-top: 30px;
    background-color: navy;
    color: whitesmoke;
    padding-bottom: 50px;
}

.icon-height {
    height: 24px;
}

.queen-img {
    height: 140px;
}

svg {
    display: none;
}

@media (min-width: 360px) and (max-width:800px)  {

.footer-bottom {
    gap: 50px;
}
    .product-card-recent {
        width: 20%;
    }

    .bg-img-house {
        width: 540px;
        height: 500px;
            }


    .hidden {
        display: none;
    }

    .product-card{
        width: 28%;
    }
    .header-txt {
        font-size: 32px;
        width: 100%;
        text-align: center;
        height: 10;
        }

       
        .button-direction {
            display: flex;

        }

        .header-mw, .header-rcntwatched {
            gap: 250px;
        }

        .icon-height {
            height: 12px;
        }

 .product-txt{
    font-size: 12px;
 }

 .product-txt-bottom > p{
    font-size: 12px;
    font-weight: 700;
 }



.queen-img {
        height: 55px;
    }

.product-txt {
        display: block;
        justify-content: center;
        margin-left: 10px;
    }

.header-txt-mw {
font-size: medium;

}

.header-bottom {
    font-size: 12px;
}
.nav-container {

    color: whitesmoke;
    }

.bottom-bar {
        display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }

    .top-bar-list {
        display: none;
    }

    .right-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
             
    }
    
    .search-ftt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding-bottom: 10px;
      }

.footer-left {
    padding-top: 20px;
    
}
.top-bar {
    gap: 300px;
}
    .footer-top {
        flex-direction: column;
           }

    .footer-right {
        height:80px ;
    }

    .product-details {
    display: flex;
    flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    .search-bar {
        width: 100%;
    }
    .product-txt-bottom {
        margin: 5px;
        
    }
    .search-xl{
        width: 300px;
    }

    svg {
        display: inline-block;
    }
    }
    
@media (min-width:801px) and (max-width:1024px) {

svg {
    display: none;
}

.profile-pic {
    display: inline;
}
    .footer-bottom {
        gap: 70px;
    }

    .bg-img-house {
            width: 860;
            height: 570;
                }
    
        .hidden {
            display: none;
        }
    
        .header-txt {
            font-size: 48px;
            width: 80%;
            margin-left: 50px;
            }
    
           
            .button-direction {
                display: flex;
    
            }
    
            .header-mw, .header-rcntwatched {
                gap: 250px;
            }
    
            .icon-height {
                height: 12px;
            }
    
     .product-txt{
        font-size: 12px;
     }
    
     .product-txt-bottom > p{
        font-size: 12px;
        font-weight: 700;
     }
    
     .product-details {
        font-size: small; 
    }
    
    .queen-img {
            height: 80px;
        }
    
    .product-txt {
            display: block;
            justify-content: center;
            margin-left: 10px;
        }
    .header-txt-mw {
    font-size: medium;
    
    }

    .top-right-bar {
        display: flex;
        align-items: center;
    }

        }